.dpk-row{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 175px;
  margin-top: 75px;
}

.what-row{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 40px;
}

.navbar {
  z-index: 1;
}

.carousel-container {
  position: relative;
  /* Set the position of the carousel container to relative */
  z-index: 0;
  /* Set the z-index value to 0 for the carousel container */
}


.carousel-item img {
  max-height: 600px;
  /* Set the maximum height of the Carousel items */
}

.carousel-caption-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  color: white;
  width: 100%;
  text-align: center;
}

.carousel-caption .kkn {
  -webkit-text-stroke: 2px black;
  font-family: 'MonstserratBold', sans-serif;
  font-size: 65px;
  letter-spacing: 5px;
}

.carousel-caption .Smart {
  -webkit-text-stroke: 1.2px black;
  font-family: 'MonstserratBold', sans-serif;
  font-size: 25px;
}

/* Home.css */

.dpk-img-container {
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.dpk-img {
  width: 400px;
  height: auto;
  object-fit: cover;
  margin-top: -220px;
}

.dpk-img-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(0, 0, 0, 0.2);
  /* Ubah warna dan ukuran border sesuai keinginan Anda */
}

.dpk-Title-container {
  font-family: 'MonstserratBold', sans-serif;
  letter-spacing: 5px;
  font-size: x-large;
  text-align: center;

}

.dpk-title {
  font-family: 'Poppins', sans-serif;
}

.dpk-title-child {
  text-align: justify;
}

.dpk-info-container {
  margin-left: -80%;
}

.accordion {
  margin-bottom: 50px;
}

.content-child {
  text-align: justify;
}

.content-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.apa-Title-container {
  font-size: x-large;
}

.apa-Title {
  margin-top: 40px;
  font-family: 'MonstserratBold', sans-serif;
  letter-spacing: 5px;
  text-align: center;
}

.what-img-container {
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.what-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: -100px;
}

/* .what-img-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(0, 0, 0, 0.2);
} */

.content-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Jarak antara pasangan konten */
}

.content-pair {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-content {
  width: 50%;
}

.map-unhas {
  text-align: justify;
  text-indent: 30px;
  margin-left: 20px;
}

.gambar-proker {
  display: block;
  max-width: 100%;
  width: 450px;
  height: auto;
}

.carousel-container-proker {
  width: 40%; /* Lebar gambar */
}

@media (max-width : 768px) {
  .dpk-title {
    margin-top: -70px;
  }

  .col-md-3 {
    width: 100%;
  }

  .carousel-caption-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    color: white;
    width: 100%;
    text-align: center;
  }

  .carousel-caption .kkn {
    -webkit-text-stroke: 0.9px black;
    font-family: 'MonstserratBold', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
  }

  .carousel-caption .Smart {
    -webkit-text-stroke: 0.2px black;
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    margin-top: -8px;
  }

  .dpk-info-container {
    margin-top: -40px;
    text-align: center;
    margin-left: 0%;
  }

  .dpk-img-container {
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin-right: none;
  }

  .dpk-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -170px;
  }

  .what-img-container {
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
  }

  .what-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -100px;
  }

  .dpk-row{
    gap: 60px;
  }

  /* .dpk-col {
    width: auto;
  } */

  .what-col {
    width: auto;
  }

  .content-pair {
    flex-direction: column;
  }

  .gambar-proker {
    margin: 0 auto;

  }

  .carousel-container-proker {
    width: auto; /* Lebar gambar */
  }

  .text-content {
    width: auto;
  }

  .map-unhas {
    text-align: justify;
    text-indent: 30px;
    margin-left: 0;
    margin-top: 5px;
  }

  .content-container {
    gap: 10px;
  }
}

.artikel-container {
  display: grid;
}

.dpk-col {
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 40px;
}