/* Home.css */
.navbar {
    z-index: 1;
  }
  
  .carousel-container {
    position: relative; /* Set the position of the carousel container to relative */
    z-index: 0; /* Set the z-index value to 0 for the carousel container */
  }
  
  
  .carousel-item img {
    max-height: 600px; /* Set the maximum height of the Carousel items */
  }
  
  .carousel-caption-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: white;
    width: 100%;
    text-align: center;
  }
  
  .carousel-caption .kkn {
    font-family: 'MonstserratBold', sans-serif;
    font-size: 65px;
    letter-spacing: 5px;
  }
  
  .carousel-caption .Smart {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }

  .dpk{
    text-align: center;
    font-size: xx-large;
  }

  .dpk-title{
    font-size: x-large;
    margin-left: -20px;
  }

  .dpk-title-child{
    font-size: x-large;
    margin-left: -20px;
  }

  /*Accordion Style*/
  .accordion .accordion-item .accordion-body{
    text-align: justify;
  }

  .accordion .accordion-item .accordion-header .text-center {
  text-align: center;
}
  
  @media (max-width : 768px) {
    .carousel-caption-text {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
      padding: 5px;
      color: white;
      width: 100%;
      text-align: center;
    }
    
    .carousel-caption .kkn {
      font-family: 'MonstserratBold', sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
    }
    
    .carousel-caption .Smart {
      font-family: 'Poppins', sans-serif;
      font-size: 8px;
      margin-top: -8px;
    }
  }
  
  .artikel-container{
    display: grid;
  }
  
  .content-img {
    max-width: 100%;
  }