footer{
  margin-top: auto;
}

.footerStyle {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-bottom: -100px;
  position: relative;
}

.logoImage {
  width: 40px;
  height: auto;
  margin: 5px;
}


/* Gaya untuk teks copyright */
.copyRightStyle {
  margin-bottom: -10px;
}

/* Gaya untuk ikon media sosial */
.socialIconsStyle {
  font-size: 24px;
  
}

/* Gaya untuk ikon di dalam ikon media sosial */
.iconStyle {
  color: #fff;
  margin: 0 5px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  position: relative;
  margin-top: -75px;
  width: 700px;
  border-radius: 20px;
}

.half-rectangle-outside {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #474747;
  overflow: hidden;
  height: 100px;
}

.half-rectangle-inside {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #474747;
  overflow: hidden;
  height: 100px;
}

.half-rectangle-outside {
  border-radius: 20px 0px 0px 20px;
}

.half-rectangle-inside {
  border-radius: 0px 20px 20px 0px;

}

.organizer, .sponsor {
  text-align: center;
}

.organizer-title {
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
}

.sponsor-title{
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
}

.logo-small {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin: 0px 20px 0px 20px; 
}

.logo-simas {
  width: 100px;
  height: auto;
  margin-top: 5px;
}

/* Responsiveness for screens less than or equal to 600px width */
@media (max-width: 768px) {
  .socialIconsStyle {
    font-size: 20px;
  }

  .copyRightStyle {
    font-size: 10px;
  }

  .logo-container {
    width: 350px;
    margin-top: -70px;
  }
  .logo-small {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin: 0px 10px 0px 10px; 
  }
  
  .logo-simas {
    width: 65px;
    height: auto;
    margin-top: 5px;
  }

  .half-rectangle-outside {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #474747;
    overflow: hidden;
    height: 70px;
  }

  .half-rectangle-inside {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #474747;
    overflow: hidden;
    height: 70px;
  }

  .organizer-title {
    margin-bottom: 5px;
    font-size: 13px;
  }
  
  .sponsor-title{
    margin-bottom: 5px;
    font-size: 13px;
  }
}

/* Responsiveness for screens less than or equal to 400px width */
@media (max-width: 400px) {
  .socialIconsStyle {
    font-size: 16px;
  }

  .logo-container {
    width: 300px;
    margin-top: -70px;
  }
  .logo-small {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin: 0px 10px 0px 10px; 
  }
  
  .logo-simas {
    width: 50px;
    height: auto;
    margin-top: 5px;
  }

  .half-rectangle-outside {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #474747;
    overflow: hidden;
    height: 70px;
  }

  .half-rectangle-inside {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #474747;
    overflow: hidden;
    height: 70px;
  }

  .organizer-title {
    margin-bottom: 5px;
    font-size: 10px;
  }
  
  .sponsor-title{
    margin-bottom: 5px;
    font-size: 10px;
  }
}