    .loading-spinner {
        /* Tetapkan properti yang diperlukan */
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(241, 241, 241, 0.5);
    }